/* className located in the App.js file */
.portfolio {
  text-align: center;
  /* background-color: #ffffff; */
  /* color: #030a8c; */
}

/* found in the Navbar page */
.header {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.navLink {
  color: #030A8C;
}

/* created className for about and aquatics pages */
.aboutAquatics {
  min-height: 95vh;
  /* overflow: scroll; */
  color: #020873;
}


/* className for the logo pic on the Aquatics page */
.profile {
  margin-top: 25px;
}

/* found in the About page and Aquatics page */
.paragraph {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

/* for the title on the projects page */
.title {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: #020873;
}

/* .nav {
  background-color: #f2f2f2;
  font-family: bookman;
} */

.ProjectCard1 {
  margin-top: 5rem;
}

.ProjectTitle {
  color: red;
  font-family: bookman;
}

/* .tech {
  padding-bottom: 3%;
} */

.tech {
  padding: 10%;
}

/* remaining classes are for the contact page */
.contact {
  min-height: 90vh;
}

.clickToEmail {
  margin-top: 25px;
  margin-bottom: 15px;
}

.emailInfo {
  margin-top: 25px;
  margin-bottom: 15px;
}

.phoneInfo {
  margin-top: 25px;
  margin-bottom: 15px;
}

