/* className located in the app.js file */
.portfolio {
  text-align: center;
  background-color: #ffffff;
  color: #030a8c;
}

/* found in the navbar page */
.header {
  color: #020873;
  background-color: white;
  font-family: bookman;
  padding: 1rem;
}

/* found in the about page and aquatics page */
.paragraph {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.title {
  font-family: bookman;
  margin-top: 10px;
}



.nav {
  background-color: #f2f2f2;
  font-family: bookman;
}

.home {
  min-height: 95vh;
}

.profile {
  margin-top: 25px;
}



.ProjectCard1 {
  margin-top: 5rem;
}

.ProjectTitle {
  color: #27418c;
  font-family: bookman;
}

.tech {
  padding-bottom: 3%;
}

.resume {
  min-height: 90vh;
}

.button {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 150px;
  background-color: white;
  color: #030abc;
  border-radius: 50%;
}

.button:hover {
  background: #aaee99;
  color: #030abc;
}

.tech {
  padding: 10%;
}

.contact {
  min-height: 90vh;
}

.clickToEmail {
  margin-top: 25px;
  margin-bottom: 15px;
}

.emailInfo {
  margin-top: 25px;
  margin-bottom: 15px;
}

.phoneInfo {
  margin-top: 25px;
  margin-bottom: 15px;
}

.footer {
  background-color: #25a6d9;
}
