@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

.home {
    min-height: 95vh;
    margin-top: 25px;
    color: #020873;
    font-size: 5em;
    font-family: 'Irish Grover';
  }
